body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 500;
}

h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

p {
  color: #575F7D;
  font-family: 'Lora', serif;
  font: 1em sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 50px;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 35px;
  font-family: 'WindSong', cursive;
}
a :hover{
  color: red;
}

.img {
  border-radius: 50%;
}
.card{
  background-color: rgb(232, 237, 255);
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.btn{
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.list_inline{
  list-style: none;
  padding-left: 0px;
}

.list_inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.container {
 margin: 40px auto;
 width: 700px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  h1 {
    font-size: 15px;
  }
  .btn{
    padding: 8px 13px;
  }
  a {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }
}
